@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 360px;
  scroll-behavior: smooth;
}
/* ::-webkit-scrollbar {
  display: none;
} */
/* Target the top level __next div */
/* #__next {} */

/* Tailwindcss Typography */

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply scroll-mt-28;
}

.prose :is(h1, h2, h3, h4, h5, h6) > a {
  @apply no-underline;
}

.prose :not(h1, h2, h3, h4, h5, h6) > a {
  @apply decoration-react-link underline-offset-4;
}

.prose ul li {
  @apply pl-4;
}

.prose ul li span {
  @apply text-sm;
}

.prose ul li::marker {
  @apply font-medium text-react-link content-['–'] dark:text-sky-600;
}

.prose ul li > ul li::marker {
  @apply font-bold text-fuchsia-400 content-['•'] dark:text-fuchsia-400;
}

/* Syntax Highlighting */

pre {
  @apply !bg-[#2b303b] !p-0 dark:!bg-[#282c34];
}

pre::-webkit-scrollbar {
  height: 0.3rem !important;
}

pre::-webkit-scrollbar-track {
  background: #1e1e24 !important;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

pre::-webkit-scrollbar-thumb {
  background: #676e95aa !important;
  border-radius: 6px !important;
}

pre > code {
  @apply !grid !py-4 !font-mono !text-sm !leading-normal;
}

:not(pre) > code {
  @apply !px-0 !font-mono text-sm !font-normal !tracking-widest !text-react-link dark:!text-sky-600;
}

:not(pre) :is(h1, h2, h3, h4, h5, h6) code {
  @apply !font-bold;
}

code {
  counter-reset: line !important;
  padding: 0 16px !important;
}

code[data-line-numbers] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.25rem;
  margin-left: 0.75rem;
  text-align: right;
  color: #676e95;
}

div[data-rehype-pretty-code-title] + pre {
  @apply !mt-0 !rounded-tl-none;
}

div[data-rehype-pretty-code-title] {
  @apply !mt-6 !max-w-max !rounded-t !border-b !border-b-slate-400 !bg-[#2b303b] !px-4 !py-0.5 !text-[#676e95] dark:!bg-[#282c34];
}

.line {
  @apply !border-l-4 !border-l-transparent !pr-4;
}

.line.highlighted {
  @apply !border-l-4 !border-react-link !bg-slate-500 bg-opacity-25;
}

span.highlighted.word {
  @apply !rounded !bg-slate-500 bg-opacity-25 !px-2 !py-0.5;
}
